
.header-color {
  background: #134E5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landing_grid {
  background: #C9D6FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.profile-pic-img {
  height: 250px;
  padding-top: 5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.banner-text {
  font-family: 'Reem Kufi', sans-serif;
  width: 100%;
  color: rgb(6, 148, 101);
  margin: auto;
  text-align: center;
}

.banner-text h1 {
  font-size:60px;
  font-weight: bold;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;
  margin-top: 5em;
}

.social-links i {
  color: rgba(0, 0, 0, 0.445);
  font-size: 4em;
 
}

.projects-grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.action-button{
  display: flex;
  justify-content: center;
}

.resume-portfolio img {
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

.resume-portfolio download-button{
top: 0px;
  position: fixed;
}
.contact-list i {
  font-size: 3rem;
  padding-right: 4rem;
  padding-left: 1rem;
}

.contact-cell h3 {
 padding-left:2rem;
}


.contact-grid{
  margin:0;
  padding: 0;

}
.contact-cell{
  height: 760px;
  width: 100%;
  margin: 0;
  
  justify-content: center;
  background: rgb(216, 216, 216);
  
}