
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;

}

a {
  text-decoration: none;
}


.landing-grid{
  font-family: 'Reem Kufi', sans-serif;
  width: 80%;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 700px;
}

.profile-pic-img {
  height: 250px;
  padding-top: 12em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.banner-text {
  font-family: 'Reem Kufi', sans-serif;
  width: 100%;
  color: rgb(15, 46, 36);
  text-align: center;
  padding-top: 14em;

}

.banner-text h1 {
  font-size:60px;
  font-weight: bold;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;
  margin-top: 3em;
  padding-bottom: 3em;
}

.social-links i {
  color: rgba(0, 0, 0, 0.445);
  font-size: 4em;
 
}

.projects-grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.action-button{
  display: flex;
  justify-content: center;
}

.resume-portfolio img {
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
}

.download-button{
  position: fixed;
  bottom: 400px;
  
}
.contact-list i {
  font-size: 3rem;
  padding-right: 4rem;
  padding-left: 1rem;
}

.contact-cell h3 {
 padding-left:2rem;
}


.contact-grid{
  margin:0;
  padding: 0;

}
.contact-cell{
  height: 760px;
  margin: 0;
  
  justify-content: center;
  background: rgb(216, 216, 216);
  
}
.data-table{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin:30px;
  padding: 20px;
 
}
.table{
  margin:20px;
  padding: 20px;
}

/* .category-tabs{
  background-image:url(./img/parallax3.jpg);
  background-size: 80% 100%;
} */



.cd-headline.type .cd-words-wrapper {
  vertical-align: top;
  overflow: hidden;
}
.cd-headline.type .cd-words-wrapper::after {
  /* vertical bar */
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 90%;
  width: 1px;
  background-color: #aebcb9;
}
.cd-headline.type .cd-words-wrapper.waiting::after {
  -webkit-animation: cd-pulse 1s infinite;
  -moz-animation: cd-pulse 1s infinite;
  animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
  background-color: #aebcb9;
}
.cd-headline.type .cd-words-wrapper.selected::after {
  visibility: hidden;
}
.cd-headline.type .cd-words-wrapper.selected b {
  color: #0d0d0d;
}
.cd-headline.type b {
  visibility: hidden;
}
.cd-headline.type b.is-visible {
  visibility: visible;
}
.cd-headline.type i {
  position: absolute;
  visibility: hidden;
}
.cd-headline.type i.in {
  position: relative;
  visibility: visible;
}

@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -moz-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
